@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

body{
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0; 
  padding: 0;
}

/* Oculta scrollbar en todos los navegadores */
.scroll-hidden {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.bg-Abautme {
  /* Patrón de líneas diagonales gris claro / oscuro */
 background: linear-gradient(
    135deg,
    #1f1f1f 0%,
    #797979 25%,
    #3a3a3a 50%,
    #2b2b2b 75%,
    #414040 100%
  );
}

